* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.main {
  background: url(../images/background.jpg) #F8E7B1;
  font-family: "Noto Serif", serif;
  font-size: 0.75vw;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header {
  font-size: 1.75vw;
  height: 15%;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

h1 {
  margin: 0 0; }

.players-section {
  height: 70%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.player-1-section,
.player-2-section {
  background-color: transparent;
  height: 100%;
  padding: 1vh 1vw;
  text-align: center;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.player-section_is-active {
  font-weight: 600;
  opacity: 1; }

.player-section_is-not-active {
  opacity: 0.2; }

.player-section_is-winner {
  color: #b22222;
  font-weight: 600; }

.player-1-section__player-1-name,
.player-2-section__player-2-name {
  font-size: 2.5vw;
  height: 15%;
  margin: 1vh 1vw;
  text-decoration: underline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.player-1-total-score,
.player-2-total-score,
.player-1-current-score,
.player-2-current-score {
  height: 15%;
  margin: 1vh 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.player-1-total-score,
.player-2-total-score {
  font-size: 2vw; }

.player-1-current-score,
.player-2-current-score {
  font-size: 1.5vw; }

.player-1-total-score__label,
.player-2-total-score__label,
.player-1-current-score__label,
.player-2-current-score__label {
  margin-right: 0.25vw; }

.images-player-1,
.images-player-2 {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.images_is-visible {
  visibility: visible; }

.images_is-hidden {
  visibility: hidden; }

.images-player-1__dice-1,
.images-player-1__dice-2,
.images-player-2__dice-1,
.images-player-2__dice-2 {
  height: 80%;
  margin: auto 0;
  padding: 0 0.5vw;
  width: auto; }

.buttons-section {
  font-size: 1.25vw;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.buttons-section__roll-dice-player-1,
.buttons-section__roll-dice-player-2,
.buttons-section__hold-points-player-1,
.buttons-section__hold-points-player-2 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 1vh 1vw;
  padding: 1vh 1vw; }

.buttons-section__roll-dice-player-1:hover,
.buttons-section__roll-dice-player-2:hover,
.buttons-section__hold-points-player-1:hover,
.buttons-section__hold-points-player-2:hover {
  color: #676767;
  font-weight: 800; }

.buttons-section__roll-dice-player-1:focus,
.buttons-section__roll-dice-player-2:focus,
.buttons-section__hold-points-player-1:focus,
.buttons-section__hold-points-player-2:focus {
  outline: none; }

.footer {
  height: 15%;
  width: 100%; }

.footer__set-final-score {
  background-color: #F8E7B1;
  bottom: 11vh;
  cursor: pointer;
  font-size: 1.5vw;
  height: 5%;
  left: 50%;
  position: absolute;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 10%; }

.footer__set-final-score:active,
.footer__set-final-score:hover {
  background-color: #BFA479;
  color: #676767; }

.footer-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5vw;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 3vh 3vw; }

.footer-buttons__start-new-game,
.footer-buttons__how-to-play {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 1vh 1vw;
  padding: 1vh 1vw;
  text-decoration: underline; }

.footer-buttons__start-new-game:hover,
.footer-buttons__how-to-play:hover {
  color: #676767;
  cursor: pointer;
  font-weight: 800; }

.footer-buttons__start-new-game:focus,
.footer-buttons__how-to-play:focus {
  outline: none; }

.how-to-play-modal-box-container {
  bottom: 2.5vw;
  left: 2vw;
  right: 2vw;
  position: fixed;
  top: 2.5vw;
  z-index: 1; }

.how-to-play-modal-box-container_is-visible {
  visibility: visible; }

.how-to-play-modal-box-container_is-hidden {
  visibility: hidden; }

.how-to-play-modal-box-content {
  background: url(../images/background.jpg) #F8E7B1;
  border: 1px solid #5f5f5f;
  font-size: 1vw;
  height: 75vh;
  margin: 9vh 7vw;
  overflow: auto;
  padding: 2vh 2vw; }

ul {
  list-style-type: disc; }

.how-to-play-modal-box-content__close-button {
  color: #5f5f5f;
  float: right;
  font-size: 2.5vw;
  font-weight: 700; }

#close-button:hover {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.how-to-play-modal-box-content__close-button:hover,
.how-to-play-modal-box-content__close-button:focus {
  color: #676767;
  cursor: pointer;
  text-decoration: none; }

/*# sourceMappingURL=styles.css.map */
