* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url(../images/background.jpg) #F8E7B1;
  color: #353535;
  font-family: "Noto Serif", serif;
  font-size: 14px;
  height: 100vh;
  min-width: 300px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 20%;
  text-align: center;
  width: 100%; }

h1 {
  margin: 0 0; }

.players-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60%;
  width: 80%; }

.player-1-section,
.player-2-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  border: 1px dashed #90756A;
  height: 100%;
  padding: 1vh 1vw;
  margin: 1vh 1vw;
  text-align: center;
  width: 50%; }

.player-section_is-active {
  font-weight: 700;
  opacity: 1; }

.player-section_is-not-active {
  opacity: 0.2; }

.player-section_is-winner {
  color: #b22222;
  font-weight: 700; }

.player-1-section__player-1-name,
.player-2-section__player-2-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 15%;
  margin: 1vh 1vw;
  text-decoration: underline; }

.player-1-total-score,
.player-2-total-score,
.player-1-current-score,
.player-2-current-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 15%;
  margin: 1vh 1vw; }

.player-1-total-score__label,
.player-2-total-score__label,
.player-1-current-score__label,
.player-2-current-score__label {
  margin-right: 0.25vw; }

.images-player-1,
.images-player-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40%; }

.images_is-visible {
  visibility: visible; }

.images_is-hidden {
  visibility: hidden; }

.images-player-1__dice-1,
.images-player-1__dice-2,
.images-player-2__dice-1,
.images-player-2__dice-2 {
  margin: auto 0;
  padding: 0 0.5vw; }

.buttons-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 15%; }

.buttons-section__roll-dice-player-1,
.buttons-section__roll-dice-player-2,
.buttons-section__hold-points-player-1,
.buttons-section__hold-points-player-2 {
  background-color: transparent;
  border: none;
  color: #353535;
  cursor: pointer; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 20%;
  width: 100%;
  position: relative; }

.footer__set-final-score {
  background-color: #F8E7B1;
  bottom: 14.5vh;
  color: #353535;
  left: 50%;
  position: absolute;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.footer-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: center;
  padding: 3vh 3vw;
  position: relative;
  width: 80%; }

.footer-buttons__start-over,
.footer-buttons__how-to-play {
  background-color: transparent;
  border: none;
  color: #353535;
  cursor: pointer;
  margin: 1vh 1vw;
  padding: 1vh 1vw;
  position: absolute;
  text-decoration: underline; }

.footer-buttons__start-over {
  bottom: 15px;
  left: 20px; }

.footer-buttons__how-to-play {
  bottom: 15px;
  right: 20px; }

.how-to-play-modal-box-container {
  bottom: 2.5vw;
  left: 2vw;
  position: fixed;
  right: 2vw;
  top: 2.5vw;
  z-index: 1; }

.how-to-play-modal-box-container_is-visible {
  visibility: visible; }

.how-to-play-modal-box-container_is-hidden {
  visibility: hidden; }

.how-to-play-modal-box-content {
  background: url(../images/background.jpg) #F8E7B1;
  border: 1px solid #353535;
  height: 100vh;
  overflow: auto;
  padding: 2vh 2vw; }

ul {
  list-style-type: disc; }

.how-to-play-modal-box-content__close-button {
  color: #353535;
  float: right;
  font-weight: 700; }

.how-to-play-modal-box-content__heading {
  text-align: center; }

@media only screen and (max-width: 767px) {
  .header {
    font-size: 1rem; }

  .player-1-section__player-1-name,
  .player-2-section__player-2-name {
    font-size: 1.5rem; }

  .player-1-total-score,
  .player-2-total-score {
    font-size: 1.25rem; }

  .player-1-current-score,
  .player-2-current-score {
    font-size: 1rem; }

  .images-player-1__dice-1,
  .images-player-1__dice-2,
  .images-player-2__dice-1,
  .images-player-2__dice-2 {
    height: 7vh;
    width: auto; }

  .buttons-section__roll-dice-player-1,
  .buttons-section__roll-dice-player-2,
  .buttons-section__hold-points-player-1,
  .buttons-section__hold-points-player-2 {
    font-size: 0.6rem; }

  .footer__set-final-score {
    font-size: 1.5rem;
    height: 5vh;
    width: 25vw; }

  .footer__set-final-score::placeholder {
    font-size: 3vw; }

  .footer-buttons {
    font-size: 1rem; }

  .how-to-play-modal-box-content {
    font-size: 0.85rem; }

  .how-to-play-modal-box-content__close-button {
    font-size: 5vw;
    font-weight: 700; } }
@media only screen and (min-width: 768px) {
  .header {
    font-size: 1.25rem; }

  .player-1-section__player-1-name,
  .player-2-section__player-2-name {
    font-size: 1.75rem; }

  .player-1-total-score,
  .player-2-total-score {
    font-size: 1.5rem; }

  .player-1-current-score,
  .player-2-current-score {
    font-size: 1.25rem; }

  .images-player-1__dice-1,
  .images-player-1__dice-2,
  .images-player-2__dice-1,
  .images-player-2__dice-2 {
    height: 14vh;
    width: auto; }

  .buttons-section__roll-dice-player-1,
  .buttons-section__roll-dice-player-2,
  .buttons-section__hold-points-player-1,
  .buttons-section__hold-points-player-2 {
    font-size: 1rem; }

  .footer__set-final-score {
    font-size: 1.75rem;
    height: 5vh;
    width: 25vw; }

  .footer__set-final-score::placeholder {
    font-size: 2.75vw; }

  .footer-buttons {
    font-size: 1.25rem; }

  .how-to-play-modal-box-content {
    font-size: 1.2rem; }

  .how-to-play-modal-box-content__close-button {
    font-size: 4vw;
    font-weight: 700; } }
@media only screen and (min-width: 1200px) {
  .header {
    font-size: 1.5rem; }

  .player-1-section__player-1-name,
  .player-2-section__player-2-name {
    font-size: 2rem; }

  .player-1-total-score,
  .player-2-total-score {
    font-size: 1.75rem; }

  .player-1-current-score,
  .player-2-current-score {
    font-size: 1.5rem; }

  .images-player-1__dice-1,
  .images-player-1__dice-2,
  .images-player-2__dice-1,
  .images-player-2__dice-2 {
    height: 18vh;
    width: auto; }

  .buttons-section__roll-dice-player-1,
  .buttons-section__roll-dice-player-2,
  .buttons-section__hold-points-player-1,
  .buttons-section__hold-points-player-2 {
    font-size: 1.25rem; }

  .footer__set-final-score {
    font-size: 2rem;
    height: 5vh;
    width: 25vw; }

  .footer__set-final-score::placeholder {
    font-size: 2vw; }

  .footer-buttons {
    font-size: 1.5rem; }

  .how-to-play-modal-box-content {
    font-size: 1.3rem; }

  .how-to-play-modal-box-content__close-button {
    font-size: 4vw;
    font-weight: 700; } }
@media (hover: hover) and (pointer: fine) {
  .buttons-section__roll-dice-player-1:hover,
  .buttons-section__roll-dice-player-2:hover,
  .buttons-section__hold-points-player-1:hover,
  .buttons-section__hold-points-player-2:hover {
    color: #646464;
    font-weight: 700; }

  .buttons-section__roll-dice-player-1:focus,
  .buttons-section__roll-dice-player-2:focus,
  .buttons-section__hold-points-player-1:focus,
  .buttons-section__hold-points-player-2:focus {
    outline: none; }

  .footer__set-final-score:active,
  .footer__set-final-score:hover {
    background-color: #BFA479;
    color: #646464; }

  .footer-buttons__start-over:hover,
  .footer-buttons__how-to-play:hover {
    color: #646464;
    cursor: pointer;
    font-weight: 700; }

  .footer-buttons__start-over:focus,
  .footer-buttons__how-to-play:focus {
    outline: none; }

  #close-button:hover {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear; }

  .how-to-play-modal-box-content__close-button:hover,
  .how-to-play-modal-box-content__close-button:focus {
    color: #646464;
    cursor: pointer;
    text-decoration: none; } }

/*# sourceMappingURL=styles.css.map */
